.mt-55pix {
  margin-top: 55px
}

.mt-2pix {
  margin-top: 2px
}

.h-32 {
  height: 8rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.rounded-md {
  border-radius: 0.375rem
}

.border-3pix {
  border-width: 3px
}

.border-slate-700 {
  --tw-border-opacity: 1;
  border-color: rgb(51 65 85 / var(--tw-border-opacity))
}

.p-20pix {
  padding: 20px
}

.p-15pix {
  padding: 15px
}

.px-10pix {
  padding-left: 10px;
  padding-right: 10px
}

.text-center {
  text-align: center
}

.text-42pix {
  font-size: 42px
}
